VITE_SUPABASE_URL=https://cfzrpmpjjepdwklkvczn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNmenJwbXBqamVwZHdrbGt2Y3puIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3NTYzNzEsImV4cCI6MjEwMzMzMjM3MX0.g0DT4Yf1LTa5A1A3j9rnd-SnZCbrtOPPv2hIp68g6rw

# Admin Email Notification Configuration
VITE_ADMIN_EMAIL=abranjoy2@gmail.com

# EmailJS Service Credentials
VITE_EMAILJS_SERVICE_ID=service_jcosb9b
VITE_EMAILJS_TEMPLATE_ID=template_x6ct4rc
VITE_EMAILJS_PUBLIC_KEY=kMGzfY2Q2abGu6Db6
